@model ProjectViewModel

<section class="py-5">
    <div class="container px-5 mb-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
        </div>
        <div class="row gx-5 justify-content-center" >
            <div class="col-lg-11 col-xl-9 col-xxl-8" >
                <!-- Project Card 1-->
                @foreach (var project in Model.Projects)
                {
                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class="row h-100">
                            <div class="col-md-5 p-0" style="height: 100%;">
                                <!-- Set height to 100% -->
                                <div class="d-flex justify-content-center h-100 w-100">
                                    <!-- Set height to 100% -->
                                    <img class="img-fluid object-fit-cover w-100 h-100" src="@project.ImageUrl" alt="@project.Name" />
                                </div>
                            </div>
                            <div class="col-md-7 d-flex flex-column flex-shrink-1" style="height: 100%;">
                                <!-- Set height to 100% -->
                                <div class="p-5 h-100">
                                    <!-- Set height to 100% -->
                                    <h2 class="fw-bolder mb-3">@project.Name</h2>
                                    <p>@project.Description</p>
                                    <a class="btn btn-outline-primary mt-2" href="@project.ProjectUrl">
                                        <i class="bi bi-code"></i> View
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- Call to action section-->
<section class="py-5 bg-gradient-primary-to-secondary text-white">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
            <a asp-area="" class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" asp-controller="Contact" asp-action="Index">Contact me</a>
        </div>
    </div>
</section>